WebtopKids.json
{
  "name": "WebtopKids",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-15min",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 208]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3001/api/data?refresh=1",
        "options": {}
      },
      "id": "http-webtop",
      "name": "Get Webtop Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [304, 112]
    },
    {
      "parameters": {
        "jsCode": "// Response comes directly from the Express API as JSON\nconst result = $input.first().json;\n\nif (!result.ok) {\n  return [{ json: { ok: false, error: result.error || 'Scraper returned error', details: result } }];\n}\n\nconst data = result.data || {};\nconst extractedAt = result.extractedAt;\n\nconst notifications = (data.notifications || []).map(n => ({\n  json: { ...n, _type: 'notification', _extractedAt: extractedAt, _studentName: data.studentName }\n}));\n\nconst classEvents = (data.classEvents || [])\n  .filter(e => !e.includes('לא נמצאו'))\n  .map(e => ({\n    json: { raw: e, _type: 'classEvent', _extractedAt: extractedAt, _studentName: data.studentName }\n  }));\n\nconst all = [...notifications, ...classEvents];\n\nif (all.length === 0) {\n  return [{ json: { ok: true, count: 0, extractedAt, message: 'No items found', studentName: data.studentName } }];\n}\n\nreturn all;"
      },
      "id": "parse-json",
      "name": "Parse JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [544, 112]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Get Webtop Data", "type": "main", "index": 0 }]]
    },
    "Every 15 Minutes": {
      "main": [[{ "node": "Get Webtop Data", "type": "main", "index": 0 }]]
    },
    "Get Webtop Data": {
      "main": [[{ "node": "Parse JSON Output", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
